/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #f8f3f0;
  padding: 10px 0 25px;
  position: relative;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

body {
  background-color: #fff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1 {
  line-height: 1.4;
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  line-height: 1.4;
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  line-height: 1.4;
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  line-height: 1.4;
  font-size: 1.1em;
  font-weight: 400;
}

img {
  width: 80%;
}

a {
  color: #de3710;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #de3710;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #994c30;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #de3710;
  color: #fff; /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
}

.button.contact {
  background-color: transparent;
  color: #de3710;
  margin: 20px;
  text-transform: uppercase;
  border: 2px solid #de3710;
}

.button.contact:hover {
  background-color: #de3710;
  color: #fff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.logo {
  max-width: 180px;
  display: block;
  margin-left: 30px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #4a4a4a;
  float: left;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 20px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: inline-block;
  padding: 5px 0;
  border-top: 0.5px solid rgba(255, 127, 80, 0.5);
  border-bottom: 0.5px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

#hero {
  text-align: center;
  background-color: #f8f3f0;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#work {
  margin-bottom: 80px;
}

#kijoophoto2 {
  margin-bottom: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.center-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.center-3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#socialicons {
  background-color: #f8f3f0;
  padding: 50px 0;
  display: inline-block;
  width: 100%;
}

#cb2 {
  background-color: #000;
}

.rotate {
  animation: rotation 14s infinite linear;
  width: 20%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes color-change {
  0% { fill: #edc655; }
  50% { fill: #fcffad; }
  100% { fill: #f76414; }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); }
  to { transform: translate(200px, 50px); }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(100px, 48px); }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

#uidesign a {
  display: block;
  margin-top: 15px;
}

#illustration img {
  margin-top: 50px;
}

#Belmont img {
  margin-top: 50px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    height: 100px;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    font-size: 18px;
  }
  nav > ul { margin: 1em 0; }

  nav > ul > li { display: inline-block; }

  .navtoggle li:not(:last-child) { display: none; }

  .navtoggle li:not(:last-child) { display: inline-block; }

  .navtoggle li:last-child { display: none; }

  .logo {
    width: 240px;
    margin-left: 30px;
    float: left;
  }

  #hero span { display: block; }

  .col-md-6 { width: 50%; }

  [class*="col-"] { float: left; }

  .row::after {
    content: "";
    clear: both;
    display: table; }

  #aboutme h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  .col-xl-8 {
    width: 75%;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
